@model SM.Infrastructure.DTO.B07_zgloDTO

@{
    Layout = "";
}

<style>
    .detailsWrap {
        word-wrap: break-word;
    }
</style>

<!-- Modal content-->
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Szczegóły zgłoszenia: @Model.numer_zglo </h4>
        </div>
        <div class="modal-body">
            <div class="container-fluid">
                <div class="col-md-12 detailsWrap">

                    <h3><b>Moduł wprowadzania usterki:</b></h3>

                    <b>Administracja</b>
                    <br />
                    <!--poprawic zeby nie bylo id a string-->
                    @Html.DisplayFor(model => model.id_admin)
                    <br />
                    <b>Numer zgłoszenia</b>
                    <br />
                    @Html.DisplayFor(model => model.numer_zglo)
                    <br />
                    <b>Branża</b>
                    <br />
                    <!--poprawic zeby nie bylo id a string-->
                    @Html.DisplayFor(model => model.id_branz)
                    <br />
                    <b>Data zgłoszenia</b>
                    <br />
                    @Html.DisplayFor(model => model.data_zglos)
                    <br />
                    <b>Nazwisko zgłaszającego</b>
                    <br />
                    @Html.DisplayFor(model => model.nazwisko)
                    <br />
                    <b>Adres</b>
                    <br />
                    <!--poprawic zeby nie bylo id a string-->
                    @Html.DisplayFor(model => model.id_adres)
                    <br />
                    <b>Rodzaj usterki</b>
                    <br />
                    @Html.DisplayFor(model => model.rodzaj_ust)

                    <h3><b>Moduł inspektora:</b></h3>

                    <b>Inspektor</b>
                    <br />
                    <!--poprawic zeby nie bylo id a string-->
                    @Html.DisplayFor(model => model.inspektor)
                    <br />
                    <b>Data akceptacji inspektora</b>
                    <br />
                    @Html.DisplayFor(model => model.data_insp)
                    <br />
                    <b>Wykonawca</b>
                    <br />
                    @Html.DisplayFor(model => model.wykonawca)
                    <br />
                    <b>Wykonawca zewnętrzny</b>
                    <br />
                    @Html.DisplayFor(model => model.wykon_zewn)

                    <h3><b>Moduł wprowadzania usterki:</b></h3>

                    <b>Numer zlecenia</b>
                    <br />
                    @Html.DisplayFor(model => model.numer_zlec)
                    <br />
                    <b>Data zlecenia</b>
                    <br />
                    @Html.DisplayFor(model => model.data_zlec)
                    <br />
                    <b>Pracownik</b>
                    <br />
                    <!--poprawic zeby nie bylo id a string-->
                    @Html.DisplayFor(model => model.nr_prac)
                    <br />
                    <b>Opis wykonania</b>
                    @Html.DisplayFor(model => model.opis_wykon)
                    <br />
                    <b>Uwagi</b>
                    <br />
                    @Html.DisplayFor(model => model.uwagi_wyko)
                    <br />
                    <b>Uwagi dodatkowe</b>
                    <br />
                    @Html.DisplayFor(model => model.uwagi1)
                    <br />
                    <b>Termin realizacji</b>
                    <br />
                    @Html.DisplayFor(model => model.data_tere)

                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a asp-action="Edit" asp-controller="B07_zglo" asp-route-id="@Model.B07_zgloId" class="btn btn-info">Edycja</a>
            <button type="button" class="btn btn-default" data-dismiss="modal">Zamknij</button>
        </div>
    </div>
</div>