@model SM.Infrastructure.Paging.PagedList<SM.Infrastructure.DTO.B07_zgloDTO>

<a asp-action="Create" asp-controller="B07_zglo" asp-route-pageIndex="" class="btn btn-success">Utwórz</a>

<table class="table table-hover">
    <thead>
        <tr>
            <th> Nr</th>
            <th> Data </th>
            <th> Nazwisko </th>
            <th> Adres </th>
            <th> Rodzaj zgłoszenia</th>
            <th> Uwagi </th>
            <th> Termin realizacji</th>
            <th> Edycja</th>
            <th> Szczegóły</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var B07_zglo in Model.ResultList)
    {
        <tr>
            <td>
                @B07_zglo.numer_zglo
            </td>
            <td>
                @B07_zglo.data_zglos
            </td>
            <td>
                @B07_zglo.nazwisko
            </td>
            <td>
                @B07_zglo.id_adres
            </td>
            <td>
                @B07_zglo.rodzaj_ust
            </td>
            <td>
                @B07_zglo.uwagi_wyko
            </td>
            <td>
                @B07_zglo.data_tere
            </td>
            <td>
                <a asp-action="Edit" asp-controller="B07_zglo" asp-route-id="@(B07_zglo.B07_zgloId)" class="glyphicon glyphicon-edit"></a>
            </td>
            <td>
                <a asp-action="Details" asp-controller="B07_zglo" asp-route-id="@(B07_zglo.B07_zgloId)" data-target="#myModal" class="glyphicon glyphicon-comment" data-toggle="modal" onclick="detailsZgloszenie(@(B07_zglo.B07_zgloId))"></a>
            </td>
        </tr>
    }
    </tbody>
</table>


@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}
@Model.PageIndex
<a asp-action="Index" asp-controller="B07_zglo" asp-route-pageIndex="1" class="btn btn-default">Pierwsza</a>
<a asp-action="Index" asp-controller="B07_zglo" asp-route-pageIndex="@(Model.PageIndex - 1)" class="btn btn-default @prevDisabled">Poprzednia</a>
<a asp-action="Index" asp-controller="B07_zglo" asp-route-pageIndex="@(Model.PageIndex + 1)"   class="btn btn-default @nextDisabled">Następna</a>
<a asp-action="Index" asp-controller="B07_zglo" asp-route-pageIndex="@(Model.TotalPages)" class="btn btn-default">Ostatnia</a>

<!-- Modal Details -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div id="modalAjax"></div>
    </div>
</div>

<script type="text/javascript">

    function detailsZgloszenie(idGet) {
        $.ajax({
            url: "/B07_zglo/Details/" + idGet,
            type: "GET",
            success: function (data) {
                $("#modalAjax").html(data);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert("failed to load details");
            }
        });
       
    }
</script>